@use "../../styles/mixins" as mix;

.сontactForm {
  position: relative;
  padding: 80px 0;
  height: 100vh;
}

.contactForm__title {
  color: var(--gray-900);
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}

.сontactForm__bg {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.contactForm__form-wrapper {
  float: right;
  max-width: 495px;
  width: 100%;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--gray-300);
  background: var(--white);

  /* shadow/large */
  box-shadow: 0 60px 80px -20px rgba(30, 33, 44, 0.16),
    0 26px 24px -10px rgba(30, 33, 44, 0.1),
    0 12px 10px -6px rgba(30, 33, 44, 0.08),
    0 4px 4px -4px rgba(30, 33, 44, 0.05);

  padding: 48px 40px;

  & form {
    & div {
      & label {
        display: block;
        margin-bottom: 5px;
      }

      & input,
      textarea {
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--gray-400);
        background: var(--gray-200);
        padding: 12px 16px;
        margin-bottom: 20px;
      }

      & textarea {
        resize: none;
        height: 95px;
      }
    }
  }
}

.checkbox-input {
  display: flex;
  align-items: center; /* выравнивание по вертикали */
  gap: 8px;
  margin-bottom: 24px;
  & label {
    color: var(--gray-800);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    flex: 1 1 auto;
    white-space: normal;
    position: relative;
    padding-left: 26px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 2px solid var(--gray-400);
      background: var(--white);
      border-radius: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 3px;
      width: 10px;
      height: 8px;
      background-image: url("/img/icons/check.svg");
    }
  }

  & input[type="checkbox"] {
    flex: 0 0 1;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    display: none;

    &:checked + label::before {
      background-color: var(
        --orange
      ); /* цвет квадратика при нажатом состоянии */
      border-color: var(--orange);
    }
  }
}

.contactForm__btn-wrapper {
  @include mix.flex-center();
}
