.categories {
  margin-top: 200px;
}
.categories-top {
  & .h2 {
    margin-bottom: 40px;
  }
}

.categories__bottom {
    margin-bottom: 60px;

    & .container.flex {
      flex-wrap: wrap;
    }
}
.categories__item {
  color: var(--gray-600);
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 205px;
  height: 46px;

  &:hover {
    border-radius: 4px;
    border: 1px solid var(--orange);
    color: var(--orange);
  }
}
