.support {
  background-color: var(--gray-200);
  padding: 81px 0;
}
.support-top {
  margin-bottom: 60px;
}
.support-slider__logo {
  &:hover img {
    filter: grayscale(0);
  }
  & img {
    display: block;
    max-width: 100%;
    filter: grayscale(1);
    transition: all .5s ease;
  }
}
