.support {
  background-color: var(--gray-200);

  &.pad-sm {
    padding: 81px 0;
  }

  &.pad-bg {
    padding-top: 180px;
    padding-bottom: 92px;
  }
}

.support-top {
  margin-bottom: 60px;
}

.support-slider {
  & .swiper-slide {
    width: auto;
  }
}
.support-slider__logo {
  &:hover img {
    filter: grayscale(0);
  }
  & img {
    display: block;
    max-width: 100%;
    filter: grayscale(1);
    transition: all 0.5s ease;
  }
}
