@use "../styles/mixins" as mix;

@media only screen and (max-width: 1600px) {
  .h2 {
    font-size: 40px;
  }
  .default-top .h2 {
    margin-bottom: 15px;
  }

  .default-top p {
    font-size: 16px;
  }
  .header__nav-list {
    column-gap: 20px;
  }
  .header__logo {
    margin-right: 30px;
  }
  .header__right {
    column-gap: 30px;
  }

  .about .swiper__title {
    font-size: 60px;
  }
  .about .swipper__text {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .about .pagination-item {
    font-size: 21px;
    padding-bottom: 5px;
  }

  .we .we__video {
    height: 440px;
  }

  .we .we__video {
    margin-bottom: 40px;
  }
  .hero-layout__bg {
    background-position: center;
  }

  .history-slider {
    &.flex {
      column-gap: 200px;
    }
  }
}
@media only screen and (max-width: 1440px) {
  .about {
    & .swiper-button-prev-custom,
    .swiper-button-next-custom {
      display: none;
    }
  }

  .history-slider {
    &.flex {
      column-gap: 150px;
    }
  }

  .about .about__slider-pagination {
    margin-top: 5vw !important;
  }
  .about .swiper-wrapper {
    padding-top: 9vw;
    padding-bottom: 7vw;
  }
  .our__item-header {
    font-size: 18px;
  }
  .service {
    padding-top: 180px;
  }

  .service-top,
  .service__items {
    margin-bottom: 40px;
  }

  .service__items .container.flex {
    gap: 15px;
  }

  .service__item-header {
    font-size: 18px;
  }

  .service__item {
    gap: 20px;
    min-height: 250px;
  }

  .browse,
  .related-projects {
    padding: 90px 0;
  }

  .browse__slider-item {
    min-height: 400px;

    &:hover img {
      height: 260px;
    }
  }

  .browse__slider-img {
    height: 320px;
  }

  .browse__slider-t-hdr {
    font-size: 18px;
  }

  .s-clients .container {
    column-gap: 50px;
  }
}
@media only screen and (max-width: 1280px) {
  .h2 {
    font-size: 36px;
  }
  .btn {
    font-size: 14px;
    padding: 12px 24px;
  }

  .header__title {
    font-size: 12px;
  }
  .header__desc {
    font-size: 16px;
  }

  .about .swiper__item {
    max-width: 480px;
  }
  .about .swiper__title {
    font-size: 40px;
  }

  .about .swipper__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .about .about__slider-pagination {
    max-width: 600px;
  }

  .we {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .we .we__video {
    height: 380px;
  }

  .our {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .our {
    padding-top: 70px;
    padding-bottom: 270px;
  }

  .s-clients .container {
    column-gap: 10px;
  }

  .some {
    padding: 100px 0;
  }

  .services-cards {
    &::after {
      top: 31px;
    }
  }
  .history {
    & .swiper {
      max-width: 700px;
      width: 100%;
    }
  }
  .history-slider {
    &.flex {
      column-gap: 100px;
    }
  }
  .history__label {
    font-size: 24px;
    line-height: 140%;
  }
  .our {
    padding-bottom: 140px;
  }

  .canada,
  .usa,
  .germany,
  .ukraine,
  .china,
  .australia {
    width: 30px;
    height: 30px;
  }
  .our-offices-item {
    &:not(:last-child) {
      padding-right: 40px;
    }

    &:not(:first-child) {
      padding-left: 40px;
    }
  }
}

@media only screen and (max-width: 1170px) {
  .footer__top {
    &.flex {
      flex-direction: column;
      align-items: center;
    }

    .footer__social-who {
      max-width: none;
    }
  }

  .footer__btm {
    &.flex {
      justify-content: center;
      gap: 50px;
      align-items: end;
    }
  }

  .hero-layout__bg {
    height: 500px;
  }

  .hero-layout__content {
    padding-bottom: 120px;
  }

  .hero-layout__title {
    font-size: 55px;
  }

  .about-slider {
    padding-right: 30px;
    padding-left: 30px;
    & .image-slider__img {
      width: 425px;
      height: 480px;
    }
    & .as-right {
      right: 30px;
    }

    & .comment-slider {
      & .swiper {
        width: 535px;
        height: 470px;
      }
      & .swiper-slide {
        padding: 60px 75px 60px 105px;
      }
      & .comment-slider__top {
        font-size: 14px;
        line-height: 150%;
      }
    }

    .vacancy-section {
      &.flex {
        gap: 95px;
      }
    }
  }
  .how-we-do {
    padding-bottom: 100px;
  }
  .our-benefits__items {
    &.flex {
      gap: 34px;
    }
  }
  .our-benefits__item {
    &:not(:last-child) {
      padding-right: 34px;
    }
  }

  .our-benefits__items {
    margin-bottom: 50px;
  }

  .pricing__table {
    & thead {
      & th {
        &.th-min {
          padding: 70px 300px 24px 24px;
        }
      }
    }
  }

  .history {
    & .swiper {
      max-width: 600px;
    }
  }

  .history__label {
    font-size: 16px;
  }

  .history__nav {
    &::after {
      height: 85%;
    }
  }

  .vacancy-item__content {
    width: 335px;
  }
  .contact-us {
    margin-top: 150px;
  }

  .contact-us-form__wrapper {
    & .container.flex {
      padding: 0 30px;
    }
  }

  .contact-us-form__img {
    & img {
      width: 380px;
      height: 480px;
      margin-left: 30px;
    }
  }
}

@media only screen and (max-width: 1070px) {
  .news__small-itm {
    width: 400px;
  }

  .services-cards {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .services-card__content {
    padding: 36px 0;
  }

  .services-card__img-wrapper {
    @include mix.flex-center();
    max-width: 475px;
  }

  .services-card:not(:last-child) {
    margin-bottom: 10px;
  }

  .vacancy-item__content {
    width: 235px;
  }

  .vacancy-item__title {
    font-size: 18px;
    line-height: 130%;
  }

  .vacancy-item {
    padding: 22px 30px;
  }

  .contact-us-form__wrapper {
    & .container.flex {
      justify-content: center;
      row-gap: 50px;
    }
  }
}
@media only screen and (max-width: 1040px) {
  .support {
    &.pad-bg {
      padding-top: 90px;
    }
  }

  .we-offer__content {
    padding-left: 75px;
  }

  .we-offer__title {
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 40px;
  }

  .we-offer__dropdown {
    & summary {
      font-size: 24px;
      line-height: 140%;
    }
  }

  .history-slider {
    &.flex {
      column-gap: 50px;
    }
  }
  .history__nav-item {
    width: 150px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .our .flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .our__item {
    width: 100%;
    position: relative;
    padding-bottom: 40px;

    &:last-child {
      &::before {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 188px;
      width: 1px;
      transform: rotate(90deg);
      background-image: url("../img/icons/divider.svg");
      bottom: -94px;
    }
  }

  .our__items .flex::after,
  .our__items .flex::before {
    display: none;
  }

  .service__form {
    grid-template-columns: 1fr 1fr 1fr 104px;
  }
  .s-clients {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .s-clients .container {
    grid-template-columns: 50% 50%;
  }

  .some {
    padding-bottom: 100px;
    padding-top: 180px;
  }

  .news {
    margin-bottom: 80px;
  }

  .сontactForm__bg {
    background-position: center;
  }
  .contactForm__title {
    font-size: 23px;
  }

  .about-slider {
    padding-top: 80px;
    padding-bottom: 120px;
    padding-right: 60px;
    padding-left: 100px;
    & .image-slider__img {
      width: 325px;
      height: 380px;
    }
    & .as-right {
      right: 30px;
    }

    & .comment-slider {
      & .swiper {
        width: 435px;
        height: 470px;
      }
      & .swiper-slide {
        padding: 80px 75px 60px 75px;
      }
    }

    & .comment-slider__content {
      margin-bottom: 30px;
    }

    & .comment-slider__text1 {
      margin-bottom: 10px;
    }
    & .comment-slider__name {
      font-size: 13px;
      line-height: 140%;
    }
    & .comment-slider__status {
      font-size: 10px;
      line-height: 120%;
    }
    & .comment-slider__signtr {
      width: 50px;
      height: 50px;
    }
  }

  .our-benefits__items {
    &.flex {
      flex-wrap: wrap;
    }
  }

  .our-benefits__item {
    max-width: 285px;
    width: 100%;

    &:not(:last-child)::after {
      display: none;
    }
  }

  .pricing__table {
    & thead {
      & th {
        &.th-min {
          padding: 70px 200px 24px 24px;
        }
      }
    }
  }

  .team-items__wrapper {
    & .container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 40px;
    }
  }
}
@media only screen and (max-width: 992px) {
  .h3 {
    font-size: 24px;
  }

  .header__nav-list {
    & li {
      font-size: 16px;
    }
  }
  .header__link {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .header__link {
    &::before {
      width: 100%;
      height: 100%;
      background-size: contain;
    }
  }

  .header__right {
    column-gap: 15px;
  }

  .header__title,
  .header__desc {
    display: none;
  }

  .about .swiper-wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about .swiper__title {
    font-size: 50px;
  }
  .about .swiper__text {
    font-size: 18px;
  }

  .service__form {
    grid-template-columns: 1fr 1fr;
  }

  .service {
    padding-top: 270px;
    padding-bottom: 50px;
  }
  .service__items {
    margin-bottom: 60px;
  }
  .service__item {
    flex-basis: calc(50% - 7.5px);
  }

  .browse,
  .related-projects {
    & .swiper-slide {
      width: 320px;
    }
  }

  .browse-top {
    & .default-top {
      margin-bottom: 40px;
    }
  }

  .browse-slider {
    margin-bottom: 20px;
  }

  .browse,
  .related-projects {
    & .browse__slider-item .btn {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      opacity: 1;
      pointer-events: all;
    }
  }
  .browse__slider-item {
    &:hover .browse__slider-text {
      padding-bottom: 24px;
    }
  }
  .browse__slider-t-descr {
    margin-bottom: 10px;
  }

  .support {
    & .swiper-slide {
      width: 120px;
    }
  }

  .support {
    padding: 61px 0;
    & .support-top {
      margin-bottom: 30px;
    }
  }

  .s-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .some {
    padding: 100px 0;
  }

  .some__items-wrapper {
    & .flex {
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  .news__items {
    margin-bottom: 65px;
  }

  .сontactForm {
    padding: 70px 0;
  }

  .hero-layout__text {
    font-size: 16px;
  }

  .vacancy-section {
    padding-top: 80px;
  }

  .dont-find__title {
    font-size: 24px;
    line-height: 140%;
  }

  .dont-find__text {
    margin-bottom: 28px;
  }
}
@media only screen and (max-width: 900px) {
  .about-slider {
    padding-right: 60px;
    padding-left: 100px;
    & .image-slider__img {
      width: 325px;
      height: 380px;
    }
    & .as-right {
      right: 30px;
    }

    & .comment-slider {
      & .swiper {
        width: 335px;
        height: 370px;
      }
      & .swiper-slide {
        padding: 40px 55px;
      }
      & .comment-slider__content {
        margin-bottom: 20px;
      }

      & .comment-slider__top {
        font-size: 12px;
        line-height: 120%;
      }

      & .comment-slider__text1 {
        margin-bottom: 10px;
      }
      & .comment-slider__name {
        font-size: 10px;
        line-height: 110%;
      }
      & .comment-slider__status {
        font-size: 8px;
        line-height: 110%;
      }
      & .comment-slider__signtr {
        width: 50px;
        height: 50px;
      }
    }
  }

  .history {
    & .swiper {
      width: 500px;
    }
  }

  .history-slider__slide {
    & img {
      margin-bottom: 26px;
    }
  }
  .history-slider__desc {
    font-size: 13px;
    line-height: 120%;
  }
  .news-main__wrapper {
    margin-bottom: 100px;
  }
  .categories {
    margin-top: 150px;
  }

  .categories-top {
    & .h2 {
      margin-bottom: 50px;
    }
  }

  .categories__bottom {
    & .container.flex {
      justify-content: center;
      row-gap: 30px;
    }
  }

  .news-main__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0px;
    row-gap: 40px;
    justify-items: center;
  }
}

@media only screen and (max-width: 835px) {
  .news {
    & .grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      place-items: center;
    }
  }

  .team-items__wrapper {
    margin-bottom: 60px;
    & .container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }
  }

  .team-item__img-wrapper {
    & img {
      width: 100%;
    }
  }

  .team-item__social {
    opacity: 0.8;
    padding: 20px 50px;
    gap: 25px;

    & img {
      width: 30px;
      height: 30px;
    }
  }

  .become__text {
    font-size: 20px;
  }

  .vacancy-section {
    & .container.flex {
      flex-direction: column;
    }
  }

  .vacancy-items {
    margin-bottom: 100px;
  }

  .vacancy-item__content {
    width: 100%;
  }

  .vacancy-item__title {
    font-size: 25px;
    line-height: 140%;
  }

  .vacancy-item__button .btn {
    width: 201px;
  }

  .dont-find {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  .sc-right {
    display: none;
  }
  .s-clients {
    & .container {
      display: block;
    }
  }

  .some {
    padding: 80px 0;
  }

  .news__main-itm {
    margin-bottom: 40px;
  }

  .services-card:not(:last-child) {
    margin-bottom: 50px;
  }

  .service__card {
    & .btn {
      font-size: 10px;
    }
  }
  .services-card__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .services-card__text {
    color: var(--gray-700);
    font-size: 14px;
    margin-bottom: 28px;
  }

  .services-card__img-wrapper {
    height: 300px;
  }
  .pricing {
    padding-top: 70px;
  }
  .pricing__table {
    & thead {
      & th {
        &.th-min {
          padding: 40px 50px 24px 24px;
        }
        &.th-big {
          font-size: 18px;
          padding-top: 24px;
          padding-bottom: 24px;
        }
      }
    }
  }

  .our {
    padding-bottom: 100px;
  }

  .our-offices__items {
    & .container.flex {
      row-gap: 40px;
    }
  }
  .our-offices-item {
    text-align: center;
    &:not(:last-child),
    &:not(:first-child) {
      padding: 0px;
    }

    &:not(:last-child)::after {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .h2 {
    font-size: 28px;
  }

  .h3 {
    font-size: 20px;
  }

  .header {
    padding: 15px 0;
  }
  .header__logo {
    margin-right: 10px;
  }
  .header__nav-list {
    display: none;
  }

  .about .about__slider-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about .swiper__title {
    font-size: 34px;
  }
  .about .swiper__text {
    font-size: 16px;
  }

  .about .swipper__btn-wrap {
    flex-wrap: wrap;
    gap: 8px;

    & .btn {
      width: 100%;
      text-align: center;
    }
  }
  .about .swiper__item {
    margin: 0 auto;
    text-align: center;
  }

  .about .about__slider-pagination {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }

  .about .pagination-item {
    color: transparent;
    padding: 0;
    border-bottom: 0px solid var(--white);
    height: 20px;
    position: relative;

    &:hover {
      color: transparent;
      border-bottom: none 0px solid var(--orange);
    }

    &.active {
      &::after {
        background: var(--white);
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      background: rgba(#fff, 0.3);
      transition: all 0.5s ease;
    }

    .service__ask {
      padding: 40px 20px;
    }
    .service__form {
      gap: 15px;
    }
  }

  .we .we-top {
    margin-bottom: 30px;
  }

  .we .we__video {
    height: 340px;
  }

  .we .we__sound {
    left: 15px;
    bottom: 15px;
  }

  .we .we__video .we__play {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .we__play {
    &::before {
      width: 50px;
      height: 50px;
      left: 10px;
    }
    &::after {
      top: -95%;
      left: 45%;
    }
  }

  .service__item-header {
    font-size: 15px;
  }

  .service__item {
    min-height: 230px;
  }

  .service__btm .container.flex {
    flex-wrap: wrap;
    gap: 15px;
  }

  .browse,
  .related-projects {
    padding: 70px 0;
  }

  .browse-top {
    position: relative;
    padding-bottom: 60px;

    & .h2 {
      font-size: 25px;
    }
  }
  .sc-left .h2 {
    margin-bottom: 30px;
  }

  .scl-photo-wrap {
    width: 50px;
    height: 50px;
  }

  .browse-top {
    & .def-arrows {
      position: absolute;
      right: 15px;
      top: auto;
      bottom: 0;
    }
  }

  .browse-top {
    & .h2 br {
      display: none;
    }
  }

  .service-bottom-btm {
    & .container.flex {
      flex-wrap: wrap;
    }
  }

  .support {
    padding: 70px 0;
  }

  .footer__social-who {
    left: 20px;
  }

  .footer__btm {
    padding-top: 20px;
    &.flex {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer__social-head {
    width: 250px;
  }

  .footer__social-who {
    width: 200px;
  }

  .footer__stay {
    & form {
      & input {
        width: 300px;
      }
    }
  }

  .footer__btm-go {
    & span {
      &::before {
        right: 37%;
      }

      &::after {
        left: 37%;
      }
    }
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--white);
    width: 100%;
  }
  .header__right {
    margin-right: 50px;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    position: fixed;
    top: 10px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--orange);
    border-radius: 4px;
    cursor: pointer;
    z-index: 10001;

    & span {
      width: 24px;
      height: 2px;
      background-color: var(--white);
      transition: all 0.5s ease;
      margin: 0 auto;

      &:nth-child(1) {
        transform-origin: top left;
      }
      &:nth-child(3) {
        transform-origin: bottom left;
      }
    }

    // animation
    &.active span:nth-child(1) {
      transform: rotate(45deg);
      margin-left: 13px;
    }
    &.active span:nth-child(2) {
      opacity: 0;
    }
    &.active span:nth-child(3) {
      transform: rotate(-45deg);
      margin-left: 11px;
    }
  }
  .hero-layout__bg {
    height: 400px;
  }
  .hero-layout__content {
    padding: 90px 0;
  }

  .hero-layout__title {
    font-size: 40px;
  }

  .services-cards {
    &::after {
      top: 0px;
    }
  }

  .services-card {
    padding-top: 20px;
    &.flex {
      flex-direction: column;
    }
  }

  .services-card__img-wrapper {
    margin-bottom: 20px;

    &.right-img {
      order: 0;
    }
  }

  .services-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .about-achievments {
    padding: 80px;
    padding-bottom: 90px;
  }

  .about-slider {
    padding-right: 0px;
    padding-left: 0px;

    & .as-right {
      position: absolute;
      top: 60%;
    }
  }
  .about-slider {
    padding-top: 0px;

    & .as-right {
      top: 50%;
    }
    & .as-left {
      padding-top: 0;
    }
  }
  .we-offer {
    padding-top: 90px;
    padding-bottom: 120px;
  }
  .we-offer__wrapper.grid {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .our-benefits__btn {
    width: 260px;
  }

  .pricing__table {
    & thead {
      & th {
        &.th-big {
          font-size: 14px;
        }
      }
    }

    & tbody {
      & tr {
        & td {
          font-size: 12px;
        }
      }
    }

    & .btn-row {
      & .btn {
        font-size: 10px;
      }
    }
  }

  .history-slider {
    & .swiper {
      width: 700px;
    }
    &.flex {
      column-gap: 0;
      justify-content: center;
      align-items: center;
    }

    & .history__nav {
      display: none;
    }
  }

  .history-slider__desc {
    font-size: 20px;
    line-height: 140%;
  }

  .team-items__wrapper {
    margin-bottom: 70px;
    & .container {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 0px;
      row-gap: 50px;
    }
  }

  .team-item__social {
    opacity: 0.8;
    padding: 20px 20px;
    gap: 35px;

    & img {
      width: 40px;
      height: 40px;
    }
  }

  .become__text {
    font-size: 28px;
  }

  .team-item__name {
    font-size: 35px;
    margin-bottom: 7px;
  }

  .team-item__status {
    font-size: 25px;
  }

  .team {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  .canada,
  .usa,
  .germany,
  .ukraine,
  .china,
  .australia {
    width: 25px;
    height: 25px;
  }

  .vacancy-item__title {
    font-size: 20px;
    line-height: 140%;
  }

  .contact-us {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .contact-us-form__img img {
    width: 280px;
    height: 380px;
    margin-left: 0px;
  }

  .contact-us-form__group {
    &.flex {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }

  .contact-us__textarea {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;

    & textarea {
      width: 60%;
      border-radius: 4px;
      border: 1px solid var(--gray-400);
      background: var(--gray-200);
      padding: 13px 16px;
      height: 128px;
    }
  }

  .contact-us-form__bottom {
    &.flex {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media only screen and (max-width: 640px) {
  .history-slider {
    & .swiper {
      width: 500px;
    }
  }

  .history-slider__desc {
    font-size: 16px;
    line-height: 140%;
  }

  .vacancy-item__button .btn {
    width: 151px;
  }
}
@media only screen and (max-width: 580px) {
  .pricing__table {
    & thead {
      & th {
        &.th-min {
          font-size: 14px;
        }
        &.th-big {
          font-size: 10px;
          & span {
            font-size: 10px;
          }
        }
      }
    }

    & tbody {
      & tr {
        & td {
          font-size: 12px;
          padding: 10px;

          & .check-mark {
            width: 10px;
            height: 10px;
          }
        }
      }
    }

    & .btn-row {
      & .btn {
        font-size: 7px;
        padding: 10px;
      }
    }
  }

  .history-slider {
    & .swiper {
      width: 400px;
    }
  }
  .history-top {
    margin-bottom: 30px;
  }

  .canada,
  .usa,
  .germany,
  .ukraine,
  .china,
  .australia {
    width: 20px;
    height: 20px;
  }

  .vacancy-section {
    padding-top: 100px;
  }
  .vacancy-items {
    margin-bottom: 70px;
  }
  .vacancy-item {
    padding: 12px 15px;
  }

  .vacancy-item__title {
    font-size: 14px;
    line-height: 130%;
  }
  .vacancy-item__button {
    & .btn {
      width: 101px;
      font-size: 12px;
      padding: 10px;
    }
  }

  .vacancy-item__city,
  .vacancy-item__time {
    &::before {
      width: 12px;
      height: 12px;
      top: 0;
      left: -20px;
    }
  }

  .vacancy-item__top {
    font-size: 10px;
  }

  .dont-find__title {
    font-size: 20px;
    line-height: 120%;
  }

  .modal-content {
    padding: 28px;
  }

  .modalTitle {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 14px;
  }
  .modal-close {
    width: 200px;
  }
  .modal-form {
    & .btn {
      width: 100%;
      font-size: 12px;
      padding-top: 13px;
      padding-bottom: 13px;
      margin-top: 10px;
    }
  }
  .form-group {
    & input {
      padding: 10px 12px;
    }

    & textarea {
      height: 66px;
      padding: 10px 13px;
    }
  }

  .cv-file {
    & input {
      display: none;
    }

    & label {
      width: 100%;
      position: relative;
      padding-left: 35px;

      &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        background-image: url("/img/icons/attach.svg");
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        bottom: 3px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .news__main-content {
    & a {
      font-size: 10px;
    }
  }

  .news {
    & .grid {
      gap: 10px;
    }
  }

  .footer__icons {
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .footer__social-text {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }

  .footer__social-btm {
    & .flex {
      flex-direction: column;
      row-gap: 30px;
    }

    & .footer__social-who {
      left: 0;
    }
  }

  .footer__btm-copy {
    & .flex {
      flex-direction: column;
    }
  }

  .hero-layout__title {
    font-size: 25px;
  }

  .about-achievments__item {
    min-width: 150px;
  }

  .about-achievments__title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .service__form {
    grid-template-columns: 1fr;
  }

  .service {
    padding-top: 400px;
  }

  .news__small-itm {
    width: 300px;
  }

  .news-default-top {
    & p {
      font-size: 13px;
    }

    & .h4 {
      font-size: 15px;
    }
  }

  .news__main-content {
    & .comment {
      margin-left: 20px;
    }
  }

  .news__main-content {
    & .comment {
      &::before {
        left: -20px;
      }
    }
  }

  .news__items {
    margin-bottom: 45px;
  }

  .footer__stay {
    & form {
      & input {
        width: 200px;
      }
    }
  }

  .about-slider {
    padding-bottom: 250px;
    & .as-right {
      top: 80%;
      right: 0;
    }
  }
  .we-offer__title {
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 30px;
  }
  .we-offer__content {
    padding-left: 45px;
  }

  .we-offer__dropdown {
    & summary {
      font-size: 18px;
      line-height: 110%;
    }
  }

  .history-slider {
    & .swiper {
      width: 350px;
    }
  }
  .history-slider__desc {
    font-size: 14px;
    line-height: 120%;
  }

  .canada,
  .usa,
  .germany,
  .ukraine,
  .china,
  .australia {
    width: 15px;
    height: 15px;
  }

  .contact-us-form__img img {
    height: 280px;
  }
}
@media only screen and (max-width: 360px) {
  .news__small-itm {
    width: 250px;
  }

  .news__main-content {
    & a {
      font-size: 7px;
    }
  }
  .services-card__img-wrapper {
    height: 200px;
  }

  .footer__stay {
    & form {
      & input {
        width: 150px;
      }
      & .btn {
        width: 100px;
        height: 44px;
        font-size: 10px;
        padding: 15px 24px;
      }
    }
  }
}
