.related-projects {
    padding-top: 120px;
    padding-bottom: 100px;
}
.related-top {

    & .flex{
        justify-content: space-between;
    }
}
.default-top {
}
.container {
}
.flex {
}
.h2 {
}
.def-arrows {
}
.swiper-button-prev-custom {
}
.swiper-button-next-custom {
}
.service-bottom-btm {
}
.default-btm {
}
.h3 {
}
.btn {
}
.orange {
}