.not-found{
    margin: 0 auto;
    height: 100vh;
    padding: 38vh 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.not-fount__title{
    text-align: center;
    font-weight: 900;
    margin-bottom: 25px;
}